<h1>New Tool</h1>

<%# 
  # local: true submits the form via ajax.
%>
<%= form_with scope: :tool, url: tools_path, local: true do |form| %><br>
<p>
  <%= form.label :name %><br>
  <%= form.text_field :name %>
</p>
<p>
  <%= form.label :icon %><br>
  <%= form.text_field :icon %>
</p>
<p>
  <%= form.label :short_description %><br>
  <%= form.text_area :short_description %>
</p>
<p>
  <%= form.label :long_description %><br>
  <%= form.text_area :long_description %>
</p>
<p>
  <%= form.submit %>
</p>
<% end %>